* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

/* Header */
header {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: black;
}

.leftside {
    height: 10vh;
    width: 58vw;
    font-size: 2.5rem;
    display: flex;
    align-items: center;
}

.mainlogo {
    color: rgb(255, 255, 255);
    margin-left: 1rem;
}

.search {
    width: 30vw;
    height: 6vh;
    background-color: rgb(44, 44, 44);
    border-radius: 4rem;
    margin-left: 1rem;
    font-size: 1rem;
    display: flex;
    align-items: center;
    color: lightgray;
}

.searchlogo {
    font-size: 1.5rem;
    margin: 0 0.5rem 0 0.2em;
}

.searchlastlogo {
    font-size: 1.5rem;
    padding-left: 11rem;
}

.rightside {
    color: lightgray;
    font-size: 1.1rem;
    font-weight: 400;
}

.option {
    margin-right: 0.5rem;
}

.login {

    margin-left: 1rem;
}

.user {
    margin-right: 1.5rem;
}

button {
    font-size: large;
    padding: 0.7rem 1rem;
    border-radius: 2rem;
}

/* Main */
main {
    display: flex;
    justify-content: space-evenly;
}

.leftcontent {
    position: sticky;
    left: 1rem;
    top: 5rem;
    width: 30vw;
    height: 80vh;
    background-color: rgb(28, 29, 29);
    border-radius: 0.5rem;
    margin-left: 1rem;
    color: white;
    padding: 1.5rem 1rem;
}

.box{
    margin-top: 2rem;
    width: 25rem;
    height: 9rem;
    background-color: rgb(36, 36, 36);
    border-radius: 1rem;
    padding: 1rem;
    font-size: 1.2rem;
}
.box p{
    margin: 0.5rem 0 1rem 0;
}

.box button{
    font-weight: 700;
    width: 13rem;
}

.copyright{
    margin: 5rem 0 0 2rem;
}

.copyrightline{
    display: flex;
    justify-content:space-between;
    margin-bottom: 1rem;
    color: lightgray;
    font-weight: 100;
}

.leftcontent select{
    font-size: large;
    border-radius: 2rem;
    padding: 0.5rem 2rem;
    background-color: transparent;
    color: white;
    margin: 2rem 2rem;
}

.rightcontent{
    width: 65vw;
    height: 100rem;
    background-color: rgb(42, 43, 43);
    border-radius: 0.5rem;
    padding: 1.5rem 2.5rem;
    color: white;
}

.trendingsong{
    width: 60vw;
    display: flex;
    justify-content: space-between;
    height: 20rem;
}

.trendingbox{
    width: 11vw;
    height: 18vh;
    border-radius: 1rem;
    margin: 2rem 1rem 3rem 0;
    font-size: 1.5rem;
    text-align: center;
}

.trendingbox img{
    border-radius: 1rem;
    width: 11vw;
}

.popularartist{
    width: 60vw;
    display: flex;
    justify-content: space-between;
    height: 20rem;
}

.popularbox{
    width: 11vw;
    height: 18vh;
    border-radius: 1rem;
    margin: 2rem 1rem 3rem 0;
    font-size: 1.5rem;
    text-align: center;
}

.popularbox img{
    border-radius: 1rem;
    width: 170px;
    height: 170px;
    border-radius: 50%;
    object-fit: cover;
}
.popularalbum{
    width: 60vw;
    display: flex;
    justify-content: space-between;
    height: 20rem;
}

.albumbox{
    width: 11vw;
    height: 18vh;
    border-radius: 1rem;
    margin: 2rem 1rem 3rem 0;
    font-size: 1.5rem;
    text-align: center;
}

.albumbox img{
    border-radius: 1rem;
    width: 11vw;
    border-radius: 1rem;
}

footer{
    width: 60vw;
    height: 35vh;
    border-top: 1px solid rgb(77, 76, 76);
    border-bottom: 1px solid rgb(77, 76, 76);
    color: white;
    padding: 5rem 0 1rem 0;
    margin-bottom: 2rem;
}

.table{
    width: 80%;
    display: flex;
    justify-content: space-between;
}

table{
    width: 100%;
    border-collapse: collapse;
}

th, td{
    padding: 0.3rem 0.7rem;
    text-align: left;
}

td{
    color: lightgray;
}

.footerlogo{
    display: flex;
    gap: 1rem;
}

.logo{
    font-size: 2rem;
}

/* Advertisment */
.advertise{
    position: fixed;
    bottom: 0;
    left: 1.8rem;
    background-color: black;
    padding: 0.5rem 0;
}

.advertisecontent {
    width: 97vw;
    height: 8vh;
    background: linear-gradient(to right, rgb(183, 0, 255), rgb(0, 162, 255));
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-radius: 1rem;
    color: rgb(255, 255, 255);
    font-size: large;
}

.firstline {
    font-weight: bold;
}

.rightside button {
    padding: 0.7rem 2rem;
    font-weight: 600;
    font-size: large;
    background-color: white;
}